version: '3.9'
services:
  recon:
    container_name: recon-web-portal
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3002:3000"   
    environment:
      - NODE_ENV=production
