version: '3.9'
services:
  reconcile-web:
    container_name: reconcile
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3002:3000"   
    environment:
      - NODE_ENV=production
